<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>Shopbone</title> 
    <meta name="description" content=""> 
    <meta name="author" content=""> 

    <!-- Le styles --> 
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" /> 
    <link rel="stylesheet" href="/css/datepicker.css" type="text/css" media="screen"/>


		<script src="js/vendor/jquery-1.7.2.min.js"></script> 
		<script src="js/vendor/underscore.min.js"></script> 
		<script src="js/vendor/bootstrap.min.js"></script> 
		<script src="js/vendor/bootstrap-datepicker.js"></script> 
		<script src="js/vendor/backbone.min.js"></script> 

    
    <!-- models: -->
    <script src="js/Category.js"></script> 

    <!-- views: -->
    <script src="js/CategoryView.js"></script> 

    <script type="text/template" id="categoryView">
      <form class="form-horizontal">
        <div class="control-group">
          <label>new category:</label>
          <input type="text" class="category_name" ></input>
          <button type="submit" class="category_add btn btn-primary" >Add</button>
        </div>
        <ul class="categories span3">
          
        </ul>
      </form>
    
    </script>


  </head> 
 
  <body>
	<div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner">
		 	<a class="brand" href="#">Shopbone</a>
	    <div class="container"> 

	      <ul class="nav"> 
	        <li class="active"><a href="#">About</a></li> 
        </ul>
      </div>  
	  </div> 
	</div>
	<div class="container-fluid">
			<section class="row" style="margin-top: 40px;">
        <div id="app"> 
				</div>
			</section>
	  	<footer> 
      </footer> 
	 
    </div> <!-- /container -->
    <script>
      $(function() {
        window.categories = new CategoryCollection();
        category = new CategoryView({collection: window.categories });
        $("#app").html(category.render().el);
      
      });
    </script>

		</body> 
</html>
