<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>Shopbone</title> 
    <meta name="description" content=""> 
    <meta name="author" content=""> 

    <!-- Le styles --> 
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" /> 
    <link rel="stylesheet" href="/css/datepicker.css" type="text/css" media="screen"/>


		<script src="js/vendor/jquery-1.7.2.min.js"></script> 
		<script src="js/vendor/underscore.min.js"></script> 
		<script src="js/vendor/bootstrap.min.js"></script> 
		<script src="js/vendor/bootstrap-datepicker.js"></script> 
		<script src="js/vendor/backbone.min.js"></script> 

    
    <script src="js/AppRouter.js"></script> 
    <!-- models: -->
    <script src="js/Category.js"></script> 
    <script src="js/ShopItem.js"></script> 

    <!-- views: -->
    <script src="js/CategoryView.js"></script> 
    <script src="js/ShoppingView.js"></script> 
    <script src="js/ShopItemView.js"></script> 

    <script type="text/template" id="categoryView">
     <div class="modal-header">
        <button class="close">×</button>
        <h3>Manage Categories</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="control-group">
            <label>new category:</label>
            <input type="text" class="category_name" ></input>
            <button class="category_add btn btn-primary" >Add</button>
          </div>
          <ul class="categories span3">
            
          </ul>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
      </div>
    </script>
    
    <script type="text/template" id="shoppingView">
    <div class="well">
      <textarea class="listbox"></textarea>
      <button class="addtolist btn btn-primary">Add to list</button> 
    </div>
    <table class="table table-striped">
      <tbody class="shoppinglist">
      </tbody>
    </table>
    </script>
    
    <script type="text/template" id="shopitemView">
      <td class="span3"> 

      <div class="btn-group"> 
        <a class="delete btn btn-danger" href="#">x</a>
        <%% if (model.get('purchased') == false) { %>
            <a class="purchase btn" href="#"><i class="icon-star-empty "></i></a>
        <%% } %>
        <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
          <%%= (model.get('category') && model.get('category').get('name').length > 0) ? model.get('category').get('name') : 'no category' %>  
        </a>
        <ul class="dropdown-menu">
          <%% if (categories != undefined) { %>
          <%% categories.each(function(c) { %>
              <li><a data-id="<%%= c.get('_id') %>" href="#"><%%= c.get('name') %></a></li>
              <%% },this) %>
          <%% } %>
        </ul>
      </div>
      </td>
      <td>
        <p><%%= model.get('name') %></p>
      </td>
    </script>


  </head> 
 
  <body>
	<div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner">
      <div class="offset1"> <a class="brand" href="#">Shopbone</a></div>
	    <div class="container"> 

	      <ul class="nav"> 
	        <li class="home active"><a class="active" href="/#home">Home</a></li> 
          <li class="showpurchased"><a href="/#purchased">Purchased</a></li>
          <li class="divider-vertical"></li>
	        <li class="categories"><a href="/#categories">Categories</a></li> 
        </ul>
      </div>  
	  </div> 
	</div>
	<div class="container ">
			<section class="row span6" style="margin-top: 40px;">
        <div id="app"> 
				</div>
			</section>
	 
  </div> <!-- /container -->


    <div class="modal fade hide" id="categorymodal"></div>


    <script>
      $(function() {

        router = new AppRouter();
        Backbone.history.start();
      });
    </script>

		</body> 
</html>
